{{!
    @template local_cronlogreader/reader

    Example context:(json):
    {

    }
}}
<div><h4>Get all paths with a .gz or .log file</h4></div>
<button type="button" class="btn btn-primary" onclick="location.href='{{generateUrl}}'">Paths</button>



